@import '../../../../styles/variables';

.dashboardPage__returning-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: $spacing-xl;
  padding: $spacing-xl;
  border-radius: 4px;
  width: 90%;
  background-color: $color-background-secondary;
  box-shadow: $elevation-2;
  border: none;

  &__header {
    font-size: $font-size-h1;
    margin-bottom: 32px;
  }

  .dashboardPage__button {
    width: 20%;
    align-self: center;
    margin: 30px 0;
  }
}
