@import '../../../../styles/variables';

.dashboardPage__returning-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  padding: 40px;
  border-radius: 15px;
  width: 90%;

  &__header {
    font-size: $font-size-h1;
    margin-bottom: 32px;
  }

  .dashboardPage__button {
    width: 100%;
    align-self: center;
    margin: 30px 0;
  }
}
