@import '../../../../styles/variables';

.specialty-selection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .specialty-selection-title {
    font-size: 0.875rem;
    font-weight: 600;
    color: $color-text-secondary;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0 0 24px 0;
  }

  .specialty-selection-loading {
    padding: 24px;
    text-align: center;
    color: $color-text-secondary;
  }

  .specialty-selection-list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .specialty-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    padding-left: 24px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    transition: all $transition-standard;
    position: relative;

    &:hover:not(.selected) {
      background-color: rgba(99, 102, 241, 0.02);
    }

    &.selected {
      color: $color-background-dark;
      font-weight: 500;
      
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: $color-background-dark;
      }
    }

    .specialty-content {
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex: 1;
    }

    .specialty-name {
      font-size:$font-size-body;
      color: inherit;
      font-weight: 600;
    }

    .specialty-description {
      font-size:$font-size-small;
      color: $color-text-secondary;
      line-height: 1.4;
    }

  }
}

