@import '../../../../styles/variables';

.specialty-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 120px;
    border: 2px solid $color-border-sage;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }

    &__title {
      font-size: $font-size-h3;
      font-weight: 600;
      text-align: left;
      margin: 0 0 10px 0;
      color: $color-text-primary;
    }

    &__description {
      font-size: $font-size-small;
      text-align: left;
      margin: 0;
      color: $color-text-secondary;
      line-height: 1.5;
    }

    &__image {
      width: 120px;
      height: 120px;
      padding:10px;
      object-fit: cover;
      flex-shrink: 0;
    }
  }
