@import '../../styles/variables';

.signin__form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  box-sizing: border-box;
}

.signin__form {
  width: 100%;
  max-width: 600px;
  padding: 50px;
  border-radius: 15px;
  background-color: $color-background-secondary;
  box-shadow: 0 4px 12px $color-shadow-default;
  text-align: center;
}

.signin__title {
  font-size: $font-size-h2;
  margin-bottom: 20px;
  color: $color-text-primary;
}

.signin__subtitle {
  font-size: $font-size-h3;
  margin-bottom: 40px;
  color: $color-text-secondary;
}

.signin__message {
  color: $color-text-primary;
  font-size: $font-size-body;
  margin-bottom: 20px;
  text-align: left;
  min-height: 20px;
}
