
// Background Colors
$color-background-primary: #f0f1ed;   
$color-background-secondary: #D2DCB6; 
$color-background-dark: #778873;      

// Text Colors
$color-text-primary: #333;
$color-text-secondary: #555;
$color-text-white: #ffffff;
$color-text-dark: #778873;      
$color-text-error: #dc3545;      

// Border Colors
$color-border-default: #ccc;
$color-border-focus: #889e80;
$color-border-sage: #A1BC98;          

//Button Colors: 
$color-background-button-danger: #ff6b6b;
$color-background-button: #889e80; 
$color-background-button-info:  #D2DCB6;  

// Shadow Colors
$color-shadow-default: rgba(0, 0, 0, 0.1);
$color-shadow-focus: rgba(0, 123, 255, 0.5);

// Font Sizes
$font-size-h1: 3.5rem;    // 56px
$font-size-h2: 2.5rem;    // 40px
$font-size-h3: 2rem;      // 32px
$font-size-h4: 1.75rem;   // 28px

$font-size-body: 1.5rem;  // 24px
$font-size-small: 1.25rem; // 20px
$font-size-xsmall: 1.125rem; // 18px

$font-size-button: 1.75rem; // 28px

