@import '../../../../styles/variables';

.patient-selection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .patient-selection-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-text-secondary;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
  }

  .patient-selection-loading,
  .patient-selection-empty {
    padding: 24px;
    text-align: center;
    color: $color-text-secondary;
  }

  .patient-selection-list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .patient-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    padding-left: 24px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    transition: all $transition-standard;
    position: relative;

    &:hover:not(.selected) {
      background-color: rgba(99, 102, 241, 0.02);
    }

    &.selected {
      color: $color-background-dark;
      font-weight: 500;
      
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: $color-background-dark;
      }
    }

    .patient-content {
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex: 1;
    }

    .patient-name {
      font-size: $font-size-body;
      color: inherit;
      font-weight: 600;
    }
  }
}

