@import '../../styles/variables';

.dashboardPage_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh; 
    padding: 40px;
    box-sizing: border-box;


}
