@import '../../styles/variables';

.familyManagemntPage_wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    min-height:100vh;
    
    .familyManagemntPage_container{
        background-color: $color-background-secondary;
        width:80%;
        min-height:1000px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 30px 100px;

        .familyManagemntPage_title{
            font-size: $font-size-h2;
            font-weight: $font-weight-heading;
            color: $color-text-primary;
            margin-bottom: 10px;
        }

        .familyManagemntPage_subtitle{
            font-size: $font-size-h5;
            color: $color-text-secondary;
        }

        .patients_grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            margin-top: 60px;
        }
    }
}