@import '../../styles/variables';

.bookingPage-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  padding: 40px;
  box-sizing: border-box;

  > div {
    width: 80%;
    max-width: 600px;
  }

  .dropdown-container {
    width: 100%;
    
    .dropdown-title {
      margin-bottom: 8px;
      font-size: $font-size-h3;
      font-weight: 600;
    }
  }
}

.bookingPage_title {
  font-size: $font-size-h1;
  margin-bottom: 16px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}
