@import '../../styles/variables';

.bookingPage-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-xl;

  padding: $spacing-xl;
  box-sizing: border-box;

  > div {
    width: 80%;
    max-width: 600px;
  }

  .dropdown-container {
    width: 100%;
    
    .dropdown-title {
      margin-bottom: $spacing-sm;
      font-size: $font-size-h5;
      font-weight: 500;
      letter-spacing: 0.00938em;
    }
  }
}

.bookingPage_title {
  font-size: $font-size-h1;
  font-weight: 400;
  margin-bottom: $spacing-md;
  width: 80%;
  max-width: 600px;
  text-align: center;
  letter-spacing: -0.01562em;
}
