@import '../../../../styles/variables';

.appointments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 24px 0;

  h3 {
    margin: 0;
    font-size: $font-size-h3;
    font-weight: 600;
    color: $color-text-primary;
  }

  .dashboardPage__doctor-filter {
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid $color-border-sage;
    background-color: $color-background-primary;
    font-size: $font-size-small;
    cursor: pointer;
    outline: none;

    &:hover {
      border-color: darken($color-border-sage, 10%);
    }
  }
}
