@import '../../../../styles/variables';

.appointments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 24px 0;

  h3 {
    margin: 0;
    font-size: $font-size-h3;
    font-weight: 600;
    color: $color-text-primary;
  }

  .dashboardPage__doctor-filter {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    background-color: transparent;
    font-size: $font-size-body;
    cursor: pointer;
    outline: none;
    transition: $transition-standard;
    color: $color-text-primary;
    min-height: 40px;

    &:hover:not(:disabled) {
      border-color: rgba(0, 0, 0, 0.87);
    }
    
    &:focus {
      border-color: $color-background-dark;
      border-width: 2px;
      padding: 7px 15px;
    }
    
    &:disabled {
      opacity: 0.38;
      cursor: not-allowed;
    }
  }
}
