@import '../../../../styles/variables';
.dashboardPage__new-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px; 
  

  h1 {
    font-size: $font-size-h1;
    font-weight: 400;
    margin-bottom: $spacing-sm;
    color: $color-text-primary;
    letter-spacing: -0.01562em;
  }

  h2 {
    font-size: $font-size-h2;
    font-weight: 400;
    margin-bottom: $spacing-md;
    letter-spacing: -0.00833em;
  }

  h3 {
    font-size: $font-size-h4;
    font-weight: 400;
    margin-bottom: $spacing-md;
    text-align: center;
    color: $color-text-secondary;
    letter-spacing: 0.00735em;
  }

  .dashboardPage__button {
    width: 60%;
    margin-bottom: $spacing-lg;
  }

  .specialties-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: $spacing-md;
    margin-top: $spacing-md;
    width: 100%;
  }
}
